{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}

{% block page_content %}
<div class="idea">
	{% if current_user.can(Permission.WRITE_ARTICLES) %}
	{{ wtf.quick_form(form) }}
	{% endif %}
</div>
<div class="index-divider" style="height: 10px"></div>



    {% if current_user.is_authenticated %}
    <ul class="nav nav-tabs">
        <li {% if not show_followed %} class="active" {% endif %}><a href="{{ url_for('.show_all') }}">全部内容</a></li>
        {% if current_user.is_authenticated %}
        <li {% if show_followed %} class="active" {% endif %}><a href="{{ url_for('.show_followed') }}">关注的人</a></li>
        {% endif %}
    </ul>
    {% endif %}
<div class="post-tabs page-body" style="max-width: 70%; padding-right: 15px; float: left; clear: left; margin-top: 15px">
    {% include '_posts.html' %}
    <div class="pagination bottom">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
</div>

<div class="side-bar" style="max-width: 30%; margin: 20px 0 0 70%">
    <div class="side-bar-welcome">
        {% if current_user.is_authenticated %}
            <img class="img-responsive img-thumbnail" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png"/><br>
            <a href="{{ url_for('.user', username=current_user.username) }}">{% if current_user.name %}
                {{ current_user.name }}
            {% else %}
                {{ current_user.username }}
            {% endif %}</a>
            {% if current_user.location %}
                来自{{ current_user.location }}.<br> {% endif %}
            注册于{{ moment(current_user.member_since).format('L') }}。<br>
            上次登录是在{{ moment(current_user.last_seen).fromNow() }}。
            {% else %}
            <h5>Jungle是一个基于flask框架的轻量社交网站</h5><br>
            <a href="{{ url_for('auth.register') }}" class="btn btn-primary text-center">现在注册</a><br><br>
            <p>已注册用户请<a href="{{ url_for('auth.login') }}">登录</a></p>
        {% endif %}
    </div>
    <div class="side-bar-summary">

    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block styles%}
{{ super() }}
{% endblock %}