{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}

{% block page_content %}
<div class="page-header">
	<h1>你好，
	{% if current_user.is_authenticated %}
        {% if current_user.name %}
            {{ current_user.name }}
        {% else %}
	    {{ current_user.username }}
        {% endif %}
	{% else %}
	    游客
	{% endif %}!</h1>
</div>
<div>
	{% if current_user.can(Permission.WRITE_ARTICLES) %}
	{{ wtf.quick_form(form) }}
	{% endif %}
</div>

<div class="pagination top">
	{{ macros.pagination_widget(pagination, '.index') }}
</div>

<div class="post-tabs">
    {% if current_user.is_authenticated %}
    <ul class="nav nav-tabs">
        <li {% if not show_followed %} class="active" {% endif %}><a href="{{ url_for('.show_all') }}">全部内容</a></li>
        {% if current_user.is_authenticated %}
        <li {% if show_followed %} class="active" {% endif %}><a href="{{ url_for('.show_followed') }}">关注的人</a></li>
        {% endif %}
    </ul>
    {% endif %}
    {% include '_posts.html' %}
</div>

<div class="pagination bottom">
	{{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block styles%}
{{ super() }}
{% endblock %}