{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}

{% block title %}Jungle - Post{% endblock %}

{% block page_content %}
<div class="posts">
	{% for post in posts %}
	<section class="user-post">
        {% if post.body_html %}
            {{ post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}

        <small>发表于{{ moment(post.timestamp).fromNow() }}</small>

        {% if current_user == post.author %}
            <a href="{{ url_for('.edit', id=post.id) }}">
                <span class="label label-primary">编辑</span>
            </a>
        {% elif current_user.is_administrator() %}
            <a href="{{ url_for('.edit', id=post.id) }}">
                <span class="label label-danger">管理员编辑</span>
            </a>
        {% endif %}
    </section>
	{% endfor %}
</div>

<br>

<h4 id="comments">评论</h4>
{% if current_user.can(Permission.COMMENT) %}
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}

{% endblock %}